.contenedor{
  width: 95%;
  max-width: 1000px;
  margin: 0 auto;
  overflow: hidden;
  height: auto;
  padding: 5px;
}

#field-respuesta{
  width: 50%;
  border-color: #ff0091;
}

#leg-respuesta{
  font-weight: bold;
}

.main{
  width: 70%;
}

#calc{
  width: 100%;
}

label{
  font-size: 28px;
}

p{
  font-size: 20px;
}

input{
  width: 70%;
  font-weight: bold;
  font-size: 28px;
}

body{
  background: url(fresas.png) repeat;
  text-align: center;
}

/* Para el color y los bordes */
table, th, td {
   border: 2px solid #892d8e;
}

/* Para separar los elementos un poco y centrar el texto */
table {
    width: 100%;
    margin:auto;
    border-collapse: separate;
    border-spacing: 3px 4px;
    font-weight: bold;
    text-align: center;
    font-weight: bold;
    font-size: 28px;
    color: #000000;
}

#fondo {
  margin-top: 7%;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff;
  border: 4px solid green;
  opacity: 0.8;
  filter: alpha(opacity=60);
}

#submit {
  background-color: #155751;
  color: #fff;
  font-weight: bold;
}

@media screen and (max-width: 400px) {
  input{
    width: 50%;
    font-size: 20px;
  }

  table{
    font-size: 20px;
  }

  label{
    font-size: 20px;
  }

  p{
    font-size: 20px;
  }

}
